<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let video = document.getElementById('video');
      let sourceUrl = '/playlist/時をかける少女_720p.mp4.m3u8';
      if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(sourceUrl);
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function () {
          video.play();
        });
      }
      else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = sourceUrl;
        video.addEventListener('canplay', function () {
          video.play();
        });
      }
    });
  </script>
</head>

<body>
  <video id="video" controls></video>
</body>

</html>