<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<bean id="connectionMaker" class="connection.AwsConnectionMaker" />


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://database-study-spring.chsxiosrbq1b.ap-northeast-2.rds.amazonaws.com:3306/sys" />
		<property name="username" value="admin" />
		<property name="password" value="6s8GJggs8q9Ol3biXshz" />
	</bean>
	<bean id="boardDao" class="dao.BoardDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="userDao" class="dao.UserDao">
		<property name="connectionMaker" ref="connectionMaker" />
	</bean>

</beans>